# 手元でしか使わないシリーズ(miseなど)
[ -f ~/.zshrc.init.local ] && source ~/.zshrc.init.local

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL限定コーナー(空行多くなるけど許して)
# snap
export PATH="/snap/bin:$PATH"
{{   end }}
{{ end }}
## 環境シリーズ
# asdf
export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"

# mise
eval "$(mise activate zsh)"

# pnpm
export PNPM_HOME="/Users/nakataki/Library/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac

# sheldon
eval "$(sheldon source)"

## 補完/ターミナルシリーズ
# compinit
fpath=(
  ${HOME}/.zsh/completions
  ${fpath}
)
autoload -Uz compinit
compinit

# fzf
# Set up fzf key bindings and fuzzy completion
source <(fzf --zsh)
alias ghcd='zi $(ghq list -p | fzf)'
alias ghget='ghq get $(fzf --prompt="ghq get: ")'

# zoxide(z, zi コマンド)
eval "$(zoxide init zsh)"

# starship
eval "$(starship init zsh)"

# The next line enables shell command completion for gcloud.
if [ -f '/Users/nakataki/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/nakataki/google-cloud-sdk/completion.zsh.inc'; fi

# zeno.zsh
if [[ -n $ZENO_LOADED ]]; then
  # ここに任意のZLEの記述を行う
  bindkey ' '  zeno-auto-snippet
  bindkey '^m' zeno-auto-snippet-and-accept-line
  bindkey '^i' zeno-completion
  bindkey '^g' zeno-ghq-cd
  bindkey '^r' zeno-history-selection
  bindkey '^x' zeno-insert-snippet
fi

## 手元でしか使わないシリーズ
[ -f ~/.zshrc.local ] && source ~/.zshrc.local


