# mise
eval "$(~/.local/bin/mise activate zsh)"

# 手元でしか使わないシリーズ
[ -f ~/.zshrc.init.local ] && source ~/.zshrc.init.local

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL限定コーナー(空行多くなるけど許して)
# snap
export PATH="/snap/bin:$PATH"
{{   end }}
{{ end }}
## 環境シリーズ
# asdf
export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"

# pnpm
export PNPM_HOME="/Users/nakataki/Library/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac

# sheldon
eval "$(sheldon source)"

## 補完/ターミナルシリーズ
# compinit
fpath=(
  ${HOME}/.zsh/completions
  ${fpath}
)
autoload -Uz compinit
compinit

# starship
eval "$(starship init zsh)"

# The next line enables shell command completion for gcloud.
if [ -f '/Users/nakataki/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/nakataki/google-cloud-sdk/completion.zsh.inc'; fi

## 手元でしか使わないシリーズ
[ -f ~/.zshrc.local ] && source ~/.zshrc.local
